.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}
#quote {
	color: rgba(27, 27, 117, 0.808);
	font-size: x-large;
	font-style: italic;
}
button {
	margin-top: 4px;
	margin-right: 40px;
	border-radius: 10%;
	box-shadow: none;
	background-color: rgb(231, 231, 119);
	border: none;
	padding: 0.5em;
}
.btn-container {
	float: left;
}
